# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker

[gcode_macro _sb_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
variable_colors: {
  'fan': [
    "heating"
  ],
  'logo': { # Colors for logo states
    'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
    'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
    'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
    'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
    'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
    'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
    'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
    'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
    'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
  },
  'nozzle': { # Colors for nozzle states
    'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
    'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
    'printing': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
  }
}
variable_fan_led_name:          "fan"
# The name of the addressable LED chain that contains the fan LED(s)
variable_fan_idx:               "1,2,3,4,5,6,7,8"  # (1-8)
# A comma-separated list of indexes LEDs in the fann
variable_logo_led_name:         "logo" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "9,10,11,12,13,14,15,16"  # (9-16)
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "nozzle"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "17,18" # (17-18)
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.

# ===========
# FAN EFFECTS
# ===========
[led_effect logo_heating_effect]
leds:
    neopixel:sb_leds (1-8)
autostart:                          true
frame_rate:                         24
heater:                             heater_bed
layers:
    HeaterFire 40 70 bottom (1,1,0),(1,0,0)


# ============
# FAN + LOGO EFFECTS
# ============

[led_effect logo_standby_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          true
frame_rate:                         24
layers:
    static  1  0 top    (0.01,0.01,0.01)

[led_effect logo_busy_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0.4,0,0)

[led_effect logo_cleaning_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0,0.02,0.5)

[led_effect logo_calibrating_z_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0.8,0,0.35)

[led_effect logo_heating_effect]
leds:
    neopixel:sb_leds (9-16)
autostart:                          true
frame_rate:                         24
heater:                             heater_bed
layers:
    HeaterFire 40 70 bottom (1,1,0),(1,0,0)

[led_effect logo_homing_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0,0.6,0.2)

[led_effect logo_leveling_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0.5,0.1,0.4)

[led_effect logo_meshing_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    breathing  2  0 top    (0.2,1,0)

[led_effect logo_printing_effect]
leds:
    neopixel:sb_leds (1-16)
autostart:                          false
frame_rate:                         24
layers:
    static  1  0 top    (1,0,0)

# ==============
# NOZZLE EFFECTS
# ==============

[led_effect nozzle_heating_effect]
leds:
    neopixel:sb_leds (17-18)
autostart:                          true
frame_rate:                         24
heater:                             extruder
layers:
    HeaterFire 50 220 bottom (1,1,0),(1,0,0)

[led_effect nozzle_standby_effect]
leds:
    neopixel:sb_leds (17-18)
autostart:                          true
frame_rate:                         24
layers:
    static 1  0 top    (0.6,0,0)

[led_effect nozzle_printing_effect]
leds:
    neopixel:sb_leds (17-18)
autostart:                          false
frame_rate:                         24
layers:
    static 1  0 top    (1,1,1)

# ===============
# GENERIC EFFECTS
# ===============
[led_effect critical_error]
leds:
    neopixel:sb_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

# =============
# STATUS MACROS
# =============

[gcode_macro status_off]
gcode:
    set_logo_leds_off
    set_nozzle_leds_off

[gcode_macro status_ready]
gcode:
    status_off
    _set_nozzle_leds EFFECT=standby
    _set_logo_leds EFFECT=standby

[gcode_macro status_busy]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=busy

[gcode_macro status_heating]
gcode:
    # Auto started
    # status_off
    # _set_nozzle_leds EFFECT=heating
    # _set_logo_leds EFFECT=heating

[gcode_macro status_leveling]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=leveling

[gcode_macro status_homing]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=homing

[gcode_macro status_cleaning]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=cleaning

[gcode_macro status_meshing]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=meshing

[gcode_macro status_calibrating_z]
gcode:
    set_logo_leds_off
    _set_logo_leds EFFECT=calibrating_z

[gcode_macro status_printing]
gcode:
    status_off
    _set_nozzle_leds EFFECT=printing
    _set_logo_leds EFFECT=printing

# =============
# HELPER MACROS
# =============

[gcode_macro _set_sb_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set effect_name = params.EFFECT %}
    {% set stop_effect = params.STOP|default(0) %}

    SET_LED_EFFECT EFFECT={leds_name}_{effect_name}_effect STOP={stop_effect}

[gcode_macro _set_logo_leds]
gcode:
    {% set effect_name = params.EFFECT %}
    {% set stop_effect = params.STOP|default(0) %}
    {% set led = printer["gcode_macro _sb_vars"].logo_led_name %}

    _set_sb_leds_by_name leds={led} effect={effect_name} stop={stop_effect}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set effect_name = params.EFFECT %}
    {% set stop_effect = params.STOP|default(0) %}
    {% set led = printer["gcode_macro _sb_vars"].nozzle_led_name %}

    _set_sb_leds_by_name leds={led} effect={effect_name} stop={stop_effect}

[gcode_macro set_logo_leds_off]
gcode:
    {% set logo_led_name = printer["gcode_macro _sb_vars"].logo_led_name %}
    {% set logo_effects = printer["gcode_macro _sb_vars"].colors[logo_led_name] %}
    {% for effects in logo_effects %}
        _set_logo_leds EFFECT={effects} STOP=1
    {% endfor %}

[gcode_macro set_nozzle_leds_on]
gcode:
    status_off
    _set_nozzle_leds EFFECT=standby
    _set_logo_leds EFFECT=standby

[gcode_macro set_nozzle_leds_off]
gcode:
    {% set nozzle_led_name = printer["gcode_macro _sb_vars"].nozzle_led_name %}
    {% set nozzle_effects = printer["gcode_macro _sb_vars"].colors[nozzle_led_name] %}
    {% for effects in nozzle_effects %}
        _set_nozzle_leds EFFECT={effects} STOP=1
    {% endfor %}

