[gcode_macro M109]
rename_existing: M99109
description: Replace M109 (Wait for Hotend Temperature) with TEMPERATURE_WAIT so we don't have to wait for PID to level off.
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
  # Parameters
  {% set s = params.S|float %}
  
  M104 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+5}

[gcode_macro QGL]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
  BED_MESH_CLEAR
  QUAD_GANTRY_LEVEL

[gcode_macro BMC]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
  BED_MESH_CALIBRATE

[gcode_macro MOTORS_OFF]
gcode:
  M84

[gcode_macro RELATIVE]
gcode:
	G91

[gcode_macro ABSOLUTE]
gcode:
	G90

[gcode_macro Z_CALIBRATE_OFFSET]
gcode:
  CALIBRATE_Z

[gcode_macro Z_ENDSTOP_CALIBRATE_OFFSET]
gcode: 
  Z_ENDSTOP_CALIBRATE

# Just a shortcut to turn EVERYTHING off with one command (beds, heaters, motors, lights)
[gcode_macro OFF]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
  M84 # turn steppers off
  TURN_OFF_HEATERS # turn bed / hotend off
  M107 # turn print cooling fan off
  SET_FAN_SPEED FAN=exhaust SPEED=0 # turn exhaust fan off
  SET_FAN_SPEED FAN=nevermore SPEED=0 # turn nevermore fan off

[gcode_macro EXERCISE]
description: Move toolhead diagnonally to max Z and back. For "settling in" after tinkering with Z
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
	# Parameters
	{% set i = params.I|default(1)|int %}
	
	SAVE_GCODE_STATE NAME=EXERCISE
	CG28
	G90 # absolute positioning
	G0 X175 Y10 Z5 F19500
	{% for wipe in range(i|int) %}
		# Fast up/down diagonal
		{% for coordinate in [(175,350,printer.toolhead.axis_maximum.z-50),(175,10,5)] %}
			# G0 X{coordinate[0]} Y{coordinate[1]} Z{coordinate[2]} F19500
			# M105 # keepalive (temp report)
		{% endfor %}
		# Slow up/down diagonal
		{% for coordinate in [(175,350,printer.toolhead.axis_maximum.z-50),(175,10,5)] %}
			G0 X{coordinate[0]} Y{coordinate[1]} Z{coordinate[2]} F900
			M105 # keepalive (temp report)
		{% endfor %}
	{% endfor %}
	M106 S0 # disable fan
	RESTORE_GCODE_STATE NAME=EXERCISE


[delayed_gcode EXHAUST_OFF]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
	SET_FAN_SPEED FAN=exhaust SPEED=0

[delayed_gcode NEVERMORE_OFF]
gcode:
	SET_FAN_SPEED FAN=nevermore SPEED=0

[delayed_gcode DELAYED_OFF]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
	OFF  	

[gcode_macro RESET_SPEEDS]
# https://github.com/AndrewEllis93/v2.247_backup_klipper_config/blob/master/macros.cfg
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} 
	SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
	SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 

[gcode_shell_command shutdown_rpi]
command: sudo halt
timeout: 5
verbose: True

[gcode_macro SHUTDOWN_RPI]
gcode:
    RUN_SHELL_COMMAND CMD=shutdown_rpi