[gcode_macro CANCEL_PRINT]
# https://github.com/Frix-x/klipper-voron-V2/blob/main/macros/print_base/print_cancel.cfg
rename_existing: BASE_CANCEL_PRINT
description: Cancel the print, retract 10mm of filament and park
gcode:
    M400
    PARK E=10
    TURN_OFF_HEATERS
    M107
    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    SET_FAN_SPEED FAN=nevermore SPEED=0
    BASE_CANCEL_PRINT